:root {
	font-family: "Syne", sans-serif;
	font-family: "Unica One", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	--primary-color: #ffffff;
	--secondary-color: #3d3c3c;
	--black-color: #030303;
	--lightgray-color: #676767;
	--blue-color: #3ab8eb;
	--orange-color: #f9784b;
	--yellow-color: #fdbf0f;

	background-color: var(--primary-color);
	color: var(--secondary-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 2px;
}

body::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--primary-color);
	width: 0px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--lightgray-color);
	border-radius: 14px;
}

main {
	// min-width: 1200px;
	margin: 40px 75px;
	min-height: calc(100vh - 311px);
	max-width: 100vw;

	@media screen and (max-width: 412px) {
		margin: 20px 14px;
	}
}

.hover-blue {
	&:hover {
		color: var(--blue-color);
	}
}

.bold {
	font-weight: 700;
}

.title {
	font-family: "Unica One", sans-serif;
	font-size: 2.5rem;
}
