.app__cart {
	width: 30dvw;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	padding: 2em 0 0 0;

	font-family: "Syne", sans-serif;

	background-color: var(--primary-color);

	position: fixed;
	top: 0;
	right: 0;

	background-color: white;
	z-index: 1000;

	.app__cart-header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		margin: 0 0 1em 1em;

		p {
			font-size: 1.1em;
			font-weight: 600;
		}

		.cart-back-button {
			cursor: pointer;
		}

		.app__cart-header-item-count {
			color: var(--blue-color);
		}
	}

	.app__cart-items {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		padding: 1em 1em;
		margin-left: 0.5em;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 1em;

		// &::-webkit-scrollbar {
		// 	width: 0.5em;
		// }
	}

	.app__cart-footer {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;

		border-top-left-radius: 20px;
		border-top: 2px solid var(--secondary-color);
		border-left: 2px solid var(--secondary-color);
		padding-bottom: 2em;

		.app__cart-footer-total {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.5em;

			padding: 2em 1em;

			p {
				font-size: 1.2em;
				font-weight: 600;
			}

			.app__cart-footer-total-price {
				width: 8em;
				height: 2.5em;

				padding: 0.3em 0;
				text-align: center;
				font-weight: 600;
				font-size: 1.2em;

				border: 2px solid var(--secondary-color);
				border-radius: 15px;
				background-color: var(--yellow-color);
			}
		}
	}
}
