.app__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
	position: sticky;
	top: 0;

	z-index: 999;

	padding: 15px 5px;
	margin: 5px 5px 0 5px;

	@media screen and (max-width: 430px) {
		margin: 25px 14px 0px 14px;
	}

	.app__header-logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		gap: 0.5em;
		cursor: pointer;
	}

	.app__header-link {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		gap: 1em;
		padding: 0 5px;
		cursor: pointer;
	}
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

.sticky {
	position: sticky;
	top: 20px;
	background-color: var(--yellow-color);
	padding: 10px 20px;
	z-index: 999;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-overlay {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}
