.app__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	// margin-top: 25px;
	// margin-left: 75px;
	// margin-right: 75px;
	margin: 25px 75px 0px 75px;

	@media screen and (max-width: 430px) {
		margin: 25px 14px 0px 14px;
	}

	.app__header-logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		gap: 0.5em;
		cursor: pointer;
	}

	.app__header-link {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		gap: 1em;
		cursor: pointer;
	}
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}
