.app__login {
	background: url("../../assets/cover-nl.png");
	font-family: "Syne", sans-serif;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	color: var(--secondary-color);
	font-weight: bolder;
	font-size: larger;
	position: fixed;
}

.app__login-form {
	width: 28em;
	height: 38em;

	background-color: var(--primary-color);
	border-radius: 20px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2em;
	align-items: center;
	border: 2px solid var(--secondary-color);
	box-shadow: 8px 10px var(--lightgray-color);

	h1 {
		padding-top: 2em;
		margin-top: 0;
	}

	.app__login-form-input {
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;

		margin-top: 1em;

		input {
			background-color: var(--primary-color);
			color: var(--secondary-color);

			width: 420px;
			height: 50px;
			border-radius: 15px;

			padding: 20px;

			font-size: large;
			font-family: "Syne", sans-serif;
			box-shadow: 10px 11px var(--blue-color);
			outline: none;
		}

		.app__login-form-error {
			color: red;
			font-size: smaller;
			font-family: "Syne", sans-serif;
		}
	}

	.app__login-form-button {
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-weight: 500;

		margin-top: 2em;

		p {
			font-size: smaller;
			padding-top: 3em;

			a {
				padding-left: 5px;
				color: var(--orange-color);
				text-decoration: none;

				&:hover {
					color: var(--blue-color);
				}
			}
		}
	}
}
